.desktop {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 2333px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: 28px;
  left: 12px;
  width: 280px;
  height: 88px;
  aspect-ratio: 3.18;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 61px;
  left: 660px;
  width: 54px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  top: 61px;
  left: 756px;
  width: 80px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 61px;
  left: 878px;
  width: 41px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 61px;
  left: 961px;
  width: 55px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  top: 56px;
  left: 300px;
  width: 302px;
  height: 32px;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 32px;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(0deg, rgba(0, 134, 195, 1) 0%, rgba(0, 134, 195, 1) 100%);
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 8px;
  left: 32px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 26px;
  background-color: #00275e;
}

.desktop .rectangle-4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1440px;
  height: 100px;
  background-color: #00275e;
}

.desktop .medicare {
  position: absolute;
  top: 5px;
  left: 78px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 136px;
  left: calc(50.00% - 690px);
  width: 1380px;
  height: 500px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.desktop .image {
  top: 50px;
  left: 1326px;
  position: absolute;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .group-2 {
  position: absolute;
  top: 420px;
  left: calc(50.00% - 400px);
  width: 804px;
  height: 80px;
}

.desktop .rounded-rectangle {
  position: absolute;
  top: 0;
  left: calc(50.00% - 402px);
  width: 800px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 26px;
  left: 30px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #5c5c5c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 28px;
  left: 284px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .polygon {
  position: absolute;
  top: 36px;
  left: 225px;
  width: 14px;
  height: 11px;
}

.desktop .line {
  position: absolute;
  top: 10px;
  left: 250px;
  width: 2px;
  height: 60px;
}

.desktop .group-3 {
  position: absolute;
  top: 598px;
  left: 626px;
  width: 187px;
  height: 12px;
  display: flex;
  opacity: 0.6;
}

.desktop .ellipse {
  width: 14.0px;
  height: 14.0px;
  margin-left: -0.5px;
  background-color: #000000;
  margin-top: -0.5px;
  border-radius: 6.5px;
  border: 0.5px solid;
  aspect-ratio: 1;
}

.desktop .ellipse-2 {
  width: 13px;
  height: 13px;
  margin-left: 21px;
  background-color: #0000001a;
  border-color: #000000;
  margin-top: -0.5px;
  border-radius: 6.5px;
  border: 0.5px solid;
  aspect-ratio: 1;
}

.desktop .ellipse-3 {
  margin-top: -0.5px;
  width: 13px;
  height: 13px;
  margin-left: 22px;
  background-color: #0000001a;
  border-radius: 6.5px;
  border: 0.5px solid;
  border-color: #000000;
  aspect-ratio: 1;
}

.desktop .img {
  position: absolute;
  top: 372px;
  left: 73px;
  width: 27px;
  height: 30px;
  aspect-ratio: 1;
}

.desktop .polygon-2 {
  position: absolute;
  top: 372px;
  left: 1340px;
  width: 27px;
  height: 30px;
  aspect-ratio: 1;
}

.desktop .image-2 {
  top: 435px;
  left: 1040px;
  position: absolute;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}
