<div class="row">
  <div class="col-md-3 m-3" *ngFor="let p of phones">
    <!-- Item -->
    <div class="card text-center {{onActive(p) ? 'item-active' : ''}}" (click)="onItemClick(p)">
      <img class="fix-image" src="{{ p.images[0] }}" alt="Card image" />
      <div class="card-body">
        <h4 class="card-title">{{ p.title }}</h4>
        <p class="card-text">{{ "Price: $" + p.price }}</p>
        <a href="#" class="btn btn-outline-primary">Details</a>
      </div>
    </div>
  </div>
</div>

